.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media screen and (max-width: 650px) {
  .mainContainer {
    display: block;
    width: 100%;
    flex-direction: COL;
    padding: 5%;
    justify-content: space-evenly;
  }
  .maps {
    padding: 3rem;
    display: flex;
    flex-direction: row;
    width: 500%;
  }
}
