.mainContainer {
  display: flex;
  flex-direction: row;
  margin-left: 40px;
}

.maps {
  margin-left: 1%;
  margin-top: 50px;
  margin-right: 40px;
  width: 500%;
}


@media screen and (max-width: 650px) {
  .mainContainer {
    display: block;
    width: 100%;
    flex-direction: row;
    padding: 5%;
    justify-content: space-evenly;
  }
  .maps {
    padding: 3rem;
    display: flex;
    flex-direction: row;
    width: 500%;
  }
}
